*{
    padding: 0%;
    margin: 0%;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

body{
    background-image:url('mypic.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color:antiquewhite;
}
h1{
    color: red;
}